@{
    ViewData["Title"] = "Auto Parts Store";
}

<div class="text-center d-flex flex-column justify-content-center align-items-center h-100">
    <h1 class="display-1 text-primary">Auto Parts Store</h1>
    <h2 class="text-secondary">Management software</h3>
</div>
